*:before,
*:after {
    box-sizing: inherit;

}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: rgb(240, 161, 3);
}

.main-header h1 {
    display: inline-block;

}

.main-header nav {
    background-color: rgb(99, 2, 2);
    overflow: hidden;
}

.main-header nav a {
    display: flex;
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.main-header nav a:hover {
    background-color: #ddd;
    color: rgb(39, 6, 128);
}

.main-header nav a.active {
    display: flex;
    justify-content: space-between;
    background-color: #04AA6D;
    color: white;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/WIN_20231218_15_20_31_Pro.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 10%;
    left: auto;
    color: white;
}


.content {

    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;

}

.card {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-card {

    padding: 10px;
    text-align: center;
}

/* setting maincards image to be no bigger than 700px*/
.main-card>img {
    max-width: 700px;

}

/* setting four projects id to flex to fit screen*/
#fourprojects {
    display: flex;
    flex-wrap: wrap;
}

/* setting four projects id to take up 50% of screen per card*/
#fourprojects card {
    flex-basis: 0 0 50%;
}

footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: rgb(240, 161, 3);
}

@media screen and (max-width: 768px) {
    #fourprojects card {
        width: 50%;
    }
}

    @media screen and (max-width: 425px) {
        #fourprojects card {
            flex-direction: row;
            width: 100%;
        }
    }
    
    


/* finish up by setting up media querys!!!!!